In [37]:
import pandas as pd
import numpy as np

In [38]:
data=np.random.randint(8,100, size=(3,2))
df=pd.DataFrame( data, columns=['Column1','Column1' ], index=['Row1','Row2', 'Row3'])

In [39]:
df

      Column1  Column1
Row1       60        9
Row2       51       54
Row3       18       11

In [40]:
df.describe()

         Column1    Column1
count   3.000000   3.000000
mean   43.000000  24.666667
std    22.113344  25.423087
min    18.000000   9.000000
25%    34.500000  10.000000
50%    51.000000  11.000000
75%    55.500000  32.500000
max    60.000000  54.000000

In [41]:
df.mean()

Column1    43.000000
Column1    24.666667
dtype: float64

In [42]:
df.max()

Column1    60
Column1    54
dtype: int64

In [43]:
df.count()

Column1    3
Column1    3
dtype: int64

In [44]:
df.corr()

          Column1   Column1
Column1  1.000000  0.275708
Column1  0.275708  1.000000

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Row1 to Row3
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  3 non-null      int64
 1   Column1  3 non-null      int64
dtypes: int64(2)
memory usage: 72.0+ bytes

In [46]:
df.min()

Column1    18
Column1     9
dtype: int64

In [47]:
df.std()

Column1    22.113344
Column1    25.423087
dtype: float64

In [48]:
df.min()

Column1    18
Column1     9
dtype: int64